<%# <div class="homepage-container text-center"> %>
 <%# <h1>Welcome to the best toy store!</h1>
  <img src="toy_store_image.jpg" alt="Toy Store" class="homepage-image">
</div> %>



<div class="container">
  <h1>Welcome to the best Toy Store!</h1>

</div>
